/packages/frontend/	@trulsaa @klyngen
/packages/adminpanel/ @trulsaa @palbock
/packages/api/ @palbock @lnordhus
/packages/slack-app/ @trulsaa
/packages/charts/ @trulsaa @klyngen @palbock
/packages/shell/ @trulsaa
.AzureDevOps/ @trulsaa @lnordhus
.github/ @trulsaa @lnordhus @palbock
