# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# production
dist

node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*

.DS_Store
