services:
  adminpanel:
    build:
      context: ./packages/adminpanel
      dockerfile: Server/Dockerfile
    depends_on:
      - api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "3000:8080"

  frontend-v3:
    user: vscode
    tty: true
    depends_on:
      - api
    build:
      context: ./packages/frontend-v3
      target: dev
    ports:
      - "8080:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./packages/frontend-v3:/src
      - /src/node_modules

  api:
    build:
      context: ./packages/api
    depends_on:
      migrations:
        condition: service_completed_successfully
    environment:
      - ConnectionStrings__AlvTime=Data Source=tcp:db,1433;Initial Catalog=AlvDevDB;User ID=sa;Password=AlvTimeTestErMoro32;Trust Server Certificate=True;
      - AzureAd__Domain=api://c9126a83-01c3-43c0-8bb3-298d352d2d7f
      - AzureAd__ClientId=c9126a83-01c3-43c0-8bb3-298d352d2d7f
      - AzureAd__GraphClientSecret=${AZUREAD_GRAPH_CLIENT_SECRET}
      - AzureAd__AuthCodeFlowSecret=${AZUREAD_AUTH_CODE_FLOW_CLIENT_SECRET}
      - ASPNETCORE_ENVIRONMENT=Development
      - DOTNET_URLS=http://0.0.0.0:8080
    ports:
      - "8081:8080"
    expose:
      - "8080"
    networks:
      - shared
      - host

  migrations:
    build:
      context: ./packages/api 
      dockerfile: AlvTime.MigrationClient/Dockerfile
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DOTNET_ENVIRONMENT=Development
      - ConnectionStrings__AlvTime=Data Source=tcp:db,1433;Initial Catalog=AlvDevDB;User ID=sa;Password=AlvTimeTestErMoro32;Trust Server Certificate=True;
    networks:
      - host

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    platform: linux/amd64
    ports:
      - "1434:1433"
    environment:
      SA_PASSWORD: "AlvTimeTestErMoro32"
      ACCEPT_EULA: "Y"
      MSSQL_PID: "Developer"
      MSSQL_TCP_PORT: 1433
    expose:
      - "1433"
    healthcheck:
      test:
        [
          "CMD",
          "/opt/mssql-tools18/bin/sqlcmd",
          "-S",
          "localhost",
          "-U",
          "sa",
          "-P",
          "AlvTimeTestErMoro32",
          "-Q",
          "SELECT 1",
          "-C",
          "-b",
          "-o",
          "/dev/null",
        ]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 20s
    networks:
      - host

networks:
  host:
    driver: bridge
    internal: false
  shared:
    name: shared-net