version: "3.7"

services:
  adminpanel:
    user: vscode
    tty: true
    ports:
      - "3000:3000"
    build:
      context: ./packages/adminpanel
      target: dev
    volumes:
      - ./packages/adminpanel:/src
      - ./packages/adminpanel/devConfig.json:/src/public/config.json
      - /src/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true

  frontend:
    user: vscode
    tty: true
    build:
      context: ./packages/frontend
      target: dev
    ports:
      - "8080:8080"
    volumes:
      - ./packages/frontend:/src
      - ./packages/frontend/devConfig.json:/src/public/config.json
      - /src/node_modules

  api:
    build:
      context: ./packages/api
    links:
      - db
    environment:
      - ConnectionStrings__AlvTime_db=Data Source=tcp:db,1433;Initial Catalog=AlvDevDB;User ID=sa;Password=AlvTimeTestErMoro32
      - AzureAd__Domain=api://c9126a83-01c3-43c0-8bb3-298d352d2d7f
      - AzureAd__ClientId=c9126a83-01c3-43c0-8bb3-298d352d2d7f
      - AdminGroup=5850c192-c101-4b64-9c45-cbbf73542805
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "8081:80"
      - "8082:443"

  db:
    build:
      context: ./packages/api/AlvTime.Persistence/Database
    ports:
      - "1434:1433"
    expose:
      - "1433"
    command:
      - /bin/bash
      - -c
      - |
        # Launch MSSQL and send to background
        /opt/mssql/bin/sqlservr &
        # So that the container doesn't shut down, sleep this thread
        sleep infinity
