$background-color: rgb(248, 241, 227);
$primary-color: rgb(36, 63, 77);
$secondary-color: rgb(157, 172, 134);
$secondary-color-light: rgb(206, 214, 194);
$accent-color: rgb(230, 192, 141);
$primary-font: "League Spartan", sans-serif;