* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: $primary-font;
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
	color: $primary-color;
	background-color: $primary-color;
	overflow-x: hidden;
}

html {
	scrollbar-gutter: stable;
}

body {
	touch-action: pan-y;
	overscroll-behavior-x: contain;
}

input {
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: rgb(250, 245, 235);
	transition: border-color 0.3s ease;
	padding: 8px;
	width: 48px;
	font-size: 1rem;
}