[project]
name = "alvtime-cli"
version = "0.7.1"
description = ""
authors = [
    {name = "Anders Norman",email = "anders@alv.no"},
    {name = "Ronnie Sletta",email = "ronnie@alv.no"}
]
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "click (>=8.2,<9.0.0)",
    "requests (>=2.32.3,<3.0.0)",
    "pyyaml (>=6.0.2,<7.0.0)",
    "pydantic (>=2.11.3,<3.0.0)",
    "arrow (>=1.3.0,<2.0.0)",
]

[tool.poetry]
packages = [{include = "alvtime_cli", from = "src"}]


[tool.poetry.group.test.dependencies]
pytest = "^8.3.5"


[tool.poetry.group.dev.dependencies]
flake8 = "^7.2.0"

[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"

[dependency-groups]
dev = [
    "flake8>=7.3.0",
]

[project.scripts]
alvtime = "alvtime_cli.cli:main"

[tool.setuptools]
packages = ["alvtime_cli"]
