name: Frontend V3 Build and Deploy Test

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "packages/frontend-v3/**"
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main
    paths:
      - "packages/frontend-v3/**"

jobs:
  build_and_deploy_job:
    if: ${{github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')}}
    permissions:
      id-token: write # Require write permission to fetch OIDC token when using Azure Login action
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    name: Build and Deploy to Test Job
    environment: test
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
          lfs: false	
      - name: Set config
        working-directory: packages/frontend-v3
        run: cp public/config.test.json public/config.json
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.STATICWEBAPP_V3_DEPLOYMENT_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: "./packages/frontend-v3" # App source code path
          api_location: "" # Api source code path - optional
          output_location: "dist" # Built app content directory - optional
      - name: Azure Login
        if: ${{ steps.builddeploy.conclusion == 'success' }}
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          allow-no-subscriptions: true
      - name: Make script executable
        if: ${{ steps.builddeploy.conclusion == 'success' }}
        run: chmod +x .github/scripts/addRedirectUri.ps1
      - name: Add site to redirectUris script
        if: ${{ steps.builddeploy.conclusion == 'success' }}
        shell: pwsh
        run: .github/scripts/addRedirectUri.ps1 -uriToAdd ${{ steps.builddeploy.outputs.static_web_app_url }} -appRegistrationClientId ${{ secrets.AZURE_FRONTEND_APP_REGISTRATION_CLIENT_ID }}

  close_pull_request_job:
    if: ${{ github.event_name == 'pull_request' && github.event.action == 'closed' }}
    permissions:
      id-token: write # Require write permission to fetch OIDC token when using Azure Login action
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    environment: test
    steps:
      - uses: actions/checkout@v6
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.STATICWEBAPP_V3_DEPLOYMENT_TOKEN }}
          app_location: "./packages/frontend-v3" # App source code path
          action: "close"
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          allow-no-subscriptions: true
      - name: Make script executable
        run: chmod +x .github/scripts/removeRedirectUri.ps1
      - name: Remove site from redirectUris script
        shell: pwsh
        run: .github/scripts/removeRedirectUri.ps1 -numberPR ${{ github.event.pull_request.number }} -appRegistrationClientId ${{ secrets.AZURE_FRONTEND_APP_REGISTRATION_CLIENT_ID }}