name: Frontend V3 Build and Deploy Test

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "packages/frontend-v3/**"
      - ".github/workflows/azure-static-web-apps-zealous-wave-0708ca403.yml"
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main
    paths:
      - "packages/frontend-v3/**"
      - ".github/workflows/azure-static-web-apps-zealous-wave-0708ca403.yml"

jobs:
  build_and_deploy_job:
    # if: ${{github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')}}
    permissions:
      id-token: write # Require write permission to Fetch an OIDC token.
    runs-on: ubuntu-latest
    name: Build and Deploy to Test Job
    environment: test
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false	
      # - name: Set config
      #   working-directory: packages/frontend-v3
      #   run: cp public/config.test.json public/config.json
      # - name: Build And Deploy
      #   id: builddeploy
      #   uses: Azure/static-web-apps-deploy@v1
      #   with:
      #     azure_static_web_apps_api_token: ${{ secrets.STATICWEBAPP_V3_DEPLOYMENT_TOKEN }}
      #     repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
      #     action: "upload"
      #     ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
      #     # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
      #     app_location: "./packages/frontend-v3" # App source code path
      #     api_location: "" # Api source code path - optional
      #     output_location: "dist" # Built app content directory - optional
      # - name: Print Deployment URL
      #   run: echo "Deployed to ${{ steps.builddeploy.outputs.static_web_app_url }}"
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: 98994b48-e477-4e82-84b7-bf6239f49f93
      - name: Azure CLI script
        uses: azure/cli@v2
        with:
          azcliversion: latest
          inlineScript: |
            az ad app update --id 148ac485-a123-479c-8ed3-bfaa56619e04 --set "spa={'redirectUris': ['https://test-alvtime.no','https://v3.test-alvtime.no','https://vg.no']}"

  close_pull_request_job:
    if: ${{ github.event_name == 'pull_request' && github.event.action == 'closed' }}
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    environment: test
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.STATICWEBAPP_V3_DEPLOYMENT_TOKEN }}
          app_location: "./packages/frontend-v3" # App source code path
          action: "close"
